<div class="pokemon-list-container">
  <h1 class="pokemon-list-title">Liste des Pokémon</h1>

  <!-- Animation de chargement -->
  <div *ngIf="isLoading" class="loading-container">
    <div class="spinner"></div> <!-- Le spinner que nous allons styliser dans le CSS -->
    <p class="loading-text">Chargement des Pokémon...</p>
  </div>

    <!-- Barre de recherche -->
  <ul *ngIf="!isLoading">
    <input 
      type="text" 
      placeholder="Rechercher un Pokémon..." 
      [(ngModel)]="searchTerm"
      class="search-bar"
    />
  </ul>

  <!-- Liste des Pokémon -->
  <ul *ngIf="!isLoading" class="pokemon-list">
    <li class="pokemon-item" *ngFor="let pokemon of filteredPokemons()">
      <a class="pokemon-link" [routerLink]="['/pokemon', pokemon.id]">
        <img class="pokemon-image" [src]="pokemon.imageUrl" alt="{{pokemon.name}}" />
        <p class="pokemon-name">{{ pokemon.name }}</p>
      </a>
    </li>
  </ul>
</div>
